# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on: [push]

jobs:
  test:
    name: Test
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: |
          xcodebuild clean build -project Shoppping-cart.xcodeproj -scheme Shoppping-cart CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO

      - name: Test
        run: |
          xcodebuild clean test -project Shoppping-cart.xcodeproj -scheme Shoppping-cart CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO
